<div class="container"> 
  <div fxLayout='row wrap' fxLayoutAlign="center center">     
    <div fxFlex.gt-md="30" fxFlex.sm="40" fxFlex.xs="100">
      <div class="card">        
        <h2>Add {{dogType}}</h2>    
        <file-upload></file-upload>
      </div>
    </div>
    <div class="content" fxFlex.gt-md="30" fxFlex.sm="40" fxFlex.xs="100" *ngFor="let dog of dogs; let i = index">
      <div *ngIf="dog.pictures"> 
        <div class="card">  
            <h1>{{dog.name}}</h1>          
          <img style="cursor: pointer" src="{{dog.pictures[dog.profilePictureIndex]}}" routerLink="./{{dog.key}}">
        </div>
      </div>
    </div>
  </div>
</div>