<div class="container">
  <div class="form-inline">
    <input id="name" name="name" type="text" [(ngModel)]="dog.name" placeholder="Name" class="form-control"/>
    <input type="file" (change)="addToFilesList($event.target.files)">
    <button class="btn btn-secondary" (click)="deleteDog(dog)">Delete</button>
    <button class="btn btn-secondary" (click)="update(dog)">Update</button>
  </div>
  <div class="row">    
      <div class="col-md-12">
        <textarea rows="10" id="description" name="description" [(ngModel)]="dog.description" placeholder="description" class="form-control"></textarea>
      </div>
  </div>
  <div fxLayout='row wrap' fxLayoutAlign="center center"> 
      <div class="content" fxFlex.gt-md="30" fxFlex.sm="40" fxFlex.xs="100" *ngFor="let picture of dog.pictures; let i = index">
        <div class="card" *ngIf="picture">            
          <div class="form-inline">
            <button class="button btn btn-secondary" (click)="deletePicture(picture, i)">DELETE</button>
            <button class="button btn btn-secondary" (click)="setAsProfile(i)">PROFILE</button>
          </div>
          <img class="img-fluid image rounded mx-auto d-block" src="{{picture}}">
        </div>
      </div>
  </div>
</div>
