<div class="container">
  <h1>Update Featured Blog</h1>
  <div class="row">
    <div class="col-md-6">
      <input id="name" name="Title" type="text" [(ngModel)]="featuredBlog.title" placeholder="Name" class="form-control"/>
    </div>
    <div class="col-md-6">
      <button type="button" (click)="updateFeaturedBlog(featuredBlog)">Update</button>
    </div>   
  </div>
  <div class="row">      
    <div class="col-md-12">
      <textarea rows="10" id="content" name="content" [(ngModel)]="featuredBlog.content" placeholder="Content" class="form-control"></textarea>
    </div>
  </div>  
  <hr>
  <h1>Add new Blog</h1>
  <div class="row">
    <div class="col-md-4">
      <input id="name" name="name" type="text" [(ngModel)]="blog.title" placeholder="Name" class="form-control"/>
    </div>
    <div class="col-md-4">        
      <input type="file" (change)="onFileChange($event)">
    </div>
    <div class="col-md-4">
      <button type="button" (click)="addBlog(blog)">Add</button>
    </div>
  </div>    
  <div class="row">      
    <div class="col-md-12">
      <textarea rows="10" id="content" name="content" [(ngModel)]="blog.content" placeholder="Content" class="form-control"></textarea>
    </div>
  </div>
  <hr>
  <div class="container">
    <div *ngIf="featuredBlog.title" class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{featuredBlog.title}}</h1>
        <div class="mb-1 text-muted">{{featuredBlog.date}}</div>
        <p class="lead my-3">{{featuredBlog.content | slice:0:143}}...</p>
        <p class="lead mb-0"><a href="/featuredBlog" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
    <div *ngIf="blogs" class="row mb-2">
      <div class="col-md-6" *ngFor="let blog of blogs">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-white rounded bg-dark">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{blog.title}}</h3>
              <div class="mb-1 text-muted">{{blog.date}}</div>
              <p class="card-text mb-auto">{{blog.content | slice:0:143}}</p>
              <p class="lead mb-0"><a href="admin/blog-detail/{{ blog.key }}" class="text-white font-weight-bold">Edit Blog</a></p>
            </div>
            <div *ngIf="blog.picture" class="col-auto d-none d-lg-block">          
                <img src="{{blog.picture}}" class="bd-placeholder-img" width="200" height="250"/>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
