/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  background: "no-repeat center center fixed"; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("src/assets/img/pawPrints.png"), url("src/assets/img/background.jpg");
}
html, body{
    height: 100%;
}