<div class="container">  
  <mat-card class="matcard">
      <div id="header">
          <img id="logo" src="assets/img/logo.jpg"/>      
          <h1>𝓑𝓲𝓰𝓟𝓪𝔀𝓼𝓑𝓾𝓵𝓵𝓭𝓸𝓰𝓼</h1> 
      </div>     
    </mat-card>
    <mat-card class="matcardImage">
        <img mat-card-image src="{{home.banner}}">
    </mat-card>
    <mat-card class="matcardAboutUs">
      <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
            {{home.aboutUs}}
        </p>
      </mat-card-content>
    </mat-card>
</div>
