<div class="container"> 
  <div class="row card header text-center">
    <div class="col-md-12">
      <img class="img-responsive" src="assets/img/logo.jpg"/>  
      <h1>BigPawsBulldogs</h1> 
    </div>
  </div>
  <div class="row banner">
    <div class="col-md-12">
      <img class="img-fluid image rounded mx-auto d-block" src="{{home.banner}}">
    </div>
  </div>
  <div class="row card aboutUs">
    <div class="col-md-12">
      <h1>About Us</h1>
      <p>{{home.aboutUs}}</p>
    </div>
  </div>
</div>
